.sidebar {
  grid-area: s;
  background-color: #bdbdbd;
  max-width: 100%;

  &__header {
    font-size: 0.75rem;
    margin: 2.1981rem 0 0 1.2669rem;
  }

  &__nav {
    margin: 2.6rem 1.3rem 0;
  }
}
