.spinner {
  grid-area: m;
  width: 50%;
  height: auto;
  display: flex;
  align-self: center;
  justify-self: center;
  background-color: transparent;

  &__sign {
    font-size: 1.5rem;
    animation: fade 1s linear 0s infinite;
    padding-right: 2rem;
  }

  &__img {
    width: 1.5rem;
    height: 1.5rem;
    border: 0.2rem solid rgba(82, 207, 79, 1);
    border-top: 0.2rem solid transparent;
    border-radius: 50%;
    animation: spin 0.5s linear 0s infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
