* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Roboto, sans-serif;
}

.container {
  width: 100%;
  display: grid;
  grid-template-areas:
    "s  h h h"
    "s  m m m"
    "s  m m m";
  background-color: #ffffff;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  min-height: 100%;
}

.sidebar {
  grid-area: s;
  background-color: #bdbdbd;
  max-width: 100%;
}

.sidebar__header {
  font-size: 0.75rem;
  margin: 2.1981rem 0 0 1.2669rem;
}

.sidebar__nav {
  margin: 2.6rem 1.3rem 0;
}

