* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Roboto, sans-serif;
}

.button__container {
  font-size: 0.75rem;
}

.button {
  background-color: #4b51ef;
  padding: 0.3141rem 0.95rem;
  margin: 0.6581rem 0 0 1.2669rem;
  border-radius: 5px;
  color: #ffffff;
}
