.user__profile {
  grid-area: m;
  display: grid;
  grid-template-areas:
    "button-e"
    "main"
    "button-s";
  width: 100%;
}
.form {
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 8px;
  grid-area: main;
  margin: 0.5rem 3rem;
  padding: 1.5rem 1rem;
}

.profile__button {
  background-color: #4b51ef;
  padding: 0.3141rem 0.95rem;
  border-radius: 5px;
  color: #ffffff;
  align-self: center;
  justify-self: end;
  margin-right: 3rem;

  &--edit {
    margin-bottom: 3.8rem;
    grid-area: button-e;
    position: absolute;
  }

  &--submit {
    background-color: rgba(82, 207, 79, 1);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    grid-area: button-s;

    &--active {
      background-color: rgba(82, 207, 79, 1);
    }

    &--inactive {
      background-color: rgba(175, 175, 175, 1);
    }
  }
}
